# example of the .env file
# provide secret constants of this project through os.environ.
# copy this file to `.env` and fill the real values.
# or export the values to environment.

# [openai](https://openai.com/) api key
OPENAI_API_KEY="your openai key"
# optional openai proxy
OPENAI_PROXY="your openai proxy"

# [moonshot](https://moonshot.cn/) api key
MOONSHOT_API_KEY="your moonshot model api key"

# [anthropic](https://www.anthropic.com/) api key
ANTHROPIC_API_KEY="your anthropic api key"
# optional anthropic proxy
#ANTHROPIC_PROXY

# [deepseek](https://deepseek.com) api key
DEEPSEEK_API_KEY="your deepseek api key"

# [siliconflow](https://cloud.siliconflow.cn/) api key
$SILICONFLOW_API_KEY="your api key"